body article {
  padding-top: 15px;
  padding-bottom: 15px; }

/* Header Login */
.hd-login {
  display: flex; }

.hd-login > span {
  line-height: 1em;
  padding-top: 5px;
  padding-right: 15px; }

/* Login */
.login-box {
  width: 450px;
  margin: 0 auto; }

/* List view */
#AddLinkInput {
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 10px; }
  #AddLinkInput input {
    margin-right: 5px; }

.list-group li.list-group-item {
  display: flex; }
  .list-group li.list-group-item > span {
    padding-right: 15px; }
  .list-group li.list-group-item .tags * {
    margin-right: 5px; }
