<!DOCTYPE>
<html>
<head>
    <title>[:title]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="stylesheet.css" />
</head>
<body>
    <header>
        <h1>Site</h1>        
    </header>
    <article>
        <hr />
        <div>Login: {:login}</div>
        <hr />
        {:jaska}
        <div>Main:[:main]</div>
        <hr />
    </article>
    <footer>
        FOOTER
    </footer>
</body>
</html>