body{
    article{
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
/* Header Login */
.hd-login{
    display: flex;
}
.hd-login > span{
    line-height: 1em;
    padding-top: 5px;
    padding-right: 15px;
}
/* Login */
.login-box{
    width: 450px;
    margin: 0 auto;
}  
/* List view */
#AddLinkInput{
    background-color:#ccc;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 10px;
    input{
        margin: 5px;             
    }
    button{
        margin: 5px;   
    }
}
.list-group{
    li.list-group-item{
        display: flex;
        > span{
            padding-right: 15px;
        }
        .tags *{
            margin-right: 5px;
        }
    }
}

